
.creation2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.wall2 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.tips, .copy, .actions2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.tip1 {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.secrets {
  color: #f2f2fb;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  flex: 1;
}

.phrases {
  display: flex;
  height: 148px;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 12px;
  background: radial-gradient(
      184.21% 125.31% at 75.51% 0%,
      rgba(111, 255, 233, 0.4) 0%,
      rgba(111, 255, 233, 0) 100%
    ),
    linear-gradient(180deg, #fbfdff 0%, #c7d1db 100%);
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.creating, .saved {
  color: #0b132b;
  font-size: 14px;
  font-weight: 500;
}

.saved {
  height: 40px;
  border-radius: 20px;
  background: #0b132b;
}

.loader-circle {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #111111;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Grid container for the secret phrases */
.secret-phrases-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(4, auto);  /* 4 rows */
  gap: 5px; /* Space between items */
  width: 100%; /* Make sure it fits inside the container */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Each phrase item inside the grid */
.phrase-item {
  padding: 7px;
  /* background-color: #f0f0f0; Light background for each phrase */
  border-radius: 8px;
  font-size: 8px;
  font-weight: bold;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  transition: background-color 0.3s ease;
}

/* Hover effect for phrase items */
.phrase-item:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

/* Loader circle (can be customized) */
.loader-circle.black {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto; /* Center the loader */
}






.phrases p {
  font-size: 14px;
  margin-top: 10px;
}


.wall2 {
  text-align: center;
  margin-bottom: 20px;
}
