.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

.iphone {
  display: flex;
  width: 393px;
  height: 852px;
  padding: var(--sds-size-space-0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-0);
  border-radius: 55px;
  background: linear-gradient(
      180deg,
      rgba(58, 80, 107, 0.2) 0%,
      rgba(58, 80, 107, 0) 100%
    ),
    var(--Background, #0b132b);
}
