.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.balance-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #8a94b0;
  span {
    font-size: 22px;
  }
}

.balance {
  color: #f2f2fb;
  font-size: 32px;
  font-weight: 700;
  margin: 2px 0;
  text-align: left;
  width: 100%;
}

.breakdown {
  width: 100%;
  color: #f2f2fb;
}

.breakdown-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3a506b;
  flex-direction: row;
  .bal-box {
    display: inherit;
    gap: 5px;
  }
  span {
    display: inherit;
    align-items: center;
    gap: 5px;
  }
  p {
    color: #8a94b0;
  }
}

.pait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: radial-gradient(
      92.72% 113.36% at 70.08% 0.1%,
      rgb(191, 168, 255) 0%,
      rgba(191, 168, 255, 0) 100%
    ),
    linear-gradient(181deg, rgb(251, 253, 255) 1.24%, rgb(199, 209, 219) 99.07%);
  box-shadow: rgba(218, 205, 255, 0.6) 0px 0px 24px 0px;
  font-size: 14px;
  color: var(--Background, #0b132b);
  gap: 16px;
  margin: 10px 0;
}

.wordings {
  display: inherit;
  flex-direction: column;
  gap: 5px;
  h2 {
    color: #0b132b;
    font-weight: 600;
    font-size: 22px;
  }
  h2,
  p {
    padding: 0;
    margin: 0;
  }
}
.one {
  color: #3a506b;
  span {
    color: #45a5a3;
    font-weight: 600;
  }
}
.buybutton {
  justify-content: center;
  border-radius: 1000px;
  background-color: #0b132b;
  display: flex;
  margin-top: 8px;
  gap: 4px;
  color: #f2f2fb;
  line-height: 143%;
  padding: 4px 24px;
  border: none;
  cursor: pointer;
  max-width: 140px;
}
